<nav>
  <p>MONEYMAKE</p>
  <ul>
    <li>
      <a [routerLink]="['revenu']">
        <!--<img src=".//src/assets/images/revenu.png" alt="">-->
        <span>Home</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['depense']">
        <!--<img src=".//src/assets/images/depenses.png" alt="">-->
        <span>Services</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['listRevenu']">
        <!--<img src=".//src/assets/images/revenu.png" alt="">-->
        <span>About</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['listDepense']">
        <!--<img src=".//src/assets/images/depenses.png" alt="">-->
        <span>Contact</span>
      </a>
    </li>
  </ul>
</nav>
