<!-- <section class="container">

  <div class="menu" id="menu">
    <div class="nav-ba">
      <h1 class="logo" (click)="displayMenu()">Make Money</h1>
      <div class="lists-menu">
        <div class="list-menu" [routerLink]="['home']">
          <img src=".//src/assets/images/dashboard.png" alt="">
          <p>Tableau de bord</p>
        </div>
        <div class="list-menu" [routerLink]="['listRevenu']">
          <img src=".//src/assets/images/increased-revenue.png" alt="">
          <p>Revenu</p>
        </div>
        <div class="list-menu" [routerLink]="['listDepense']">
          <img src=".//src/assets/images/expenses.png" alt="">
          <p>Depense</p>
        </div>
      </div>
    </div>
    <div class="logout">
      <img src=".//src/assets/images/expenses.png" alt="">
      <p>Log out</p>
    </div>
  </div>

      <div class="conteneur" id="conteneur">
      <div class="nav-bar">
          <div>
            <img class="img-menu" id="burger1" (click)="displayMenu()" src=".//src/assets/images/manu.png" alt="">
            <img class="img-menu" id="burger2"  (click)="displayMenu2()" src=".//src/assets/images/manu.png" alt="">
            <div class="dropdown" id="dropdown">
              <ul>
                <li [routerLink]="['home']"> <img src=".//src/assets/images/dashboard.png" alt=""> Tableau de bord </li>
                <li [routerLink]="['listRevenu']"> <img src=".//src/assets/images/increased-revenue.png" alt=""> Revenu</li>
                <li [routerLink]="['listDepense']"> <img src=".//src/assets/images/expenses.png" alt=""> Depense </li>
              </ul>
            </div>
          </div>

          <div class="profile">
            <img src=".//src/assets/images/DSR.png" alt="">
          </div>
      </div>

      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <div class="footer">
        <p>Design by DSR design</p>
      </div>

  </div>

</section> -->

<app-signup></app-signup>
