<section>
  <!-- <div class="image">

    <img src="" alt="Logo">
    <h1><span>Gèrez tous vos</span> finances en utilisant notre platforme </h1>
    <p>Opter pour notre platfome c'est Reprendre le controle sur ses finances</p>

  </div> -->
  <img src=".//src/assets/images/signup-pana.png" alt="">
    <form action="" #registerForm="ngForm">
      <h1>Moneymake</h1>
      <div class="form">

        <div class="block">
          <label for="Nom">Nom</label>
          <input type="text" placeholder="Entrez votre nom"
            required
          >


        </div>


        <div class="block">
          <label for="Prenom">Prenom</label>
          <input type="text" placeholder="Entrez votre nom">
        </div>

        <div class="block">
          <label for="Email">Email</label>
          <input type="email" placeholder="Entrez votre adresse mail">
        </div>

        <div class="block">
          <label for="Password">Mot de passe</label>
          <input type="password" placeholder="Entrez votre mot de passe">
        </div>

        <button type="submit">S'inscrire</button>

        <p>J'ai déja un compte ! <span>Connecter-vous</span></p>
      </div>
    </form>
</section>
