<section>
  <div class="block">
    <div class="row">
      <p class="para">Total des revenus</p>
      <div class="graphe">
        <img src=".//src/assets/images/le-revenu.png" alt="">
        <div class="montant">
          <h1>{{revenuMois}} <span>XAF</span></h1>
           <p>Revenu du mois</p>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="para">Plus grosse depense</p>
      <div class="graphe">
        <img src=".//src/assets/images/le-revenu.png" alt="">
        <div class="montant">
          <h1>0 <span>XAF</span></h1>
          <p>Education</p>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="para">Total des depenses</p>
      <div class="graphe">
        <img src=".//src/assets/images/depenses.png" alt="">
        <div class="montant">
          <h1 >{{depenseMois}} <span>XAF</span></h1>
          <p>Depense du mois</p>

          <!-- <div class="revenu">
            <p>Salaire</p>
            <div class="square"></div>
          </div>
          <div class="revenu">
            <p>Business</p>
            <div class="square"></div>
          </div>
          <div class="revenu">
            <p>Autres</p>
            <div class="square"></div>
          </div> -->

        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="row">
      <p class="para">Revenus restants</p>
      <div class="graphe">
        <div id="chart">
          <apx-chart
            [series]="chartRevenu.series"
            [chart]="chartRevenu.chart"
            [plotOptions]="chartRevenu.plotOptions"
            [labels]="chartRevenu.labels"
            [fill]="chartRevenu.fill"
            [stroke]="chartRevenu.stroke"
          ></apx-chart>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="para">Plus grosse depense</p>
      <div class="graphe">
        <div id="chart">
          <apx-chart
            [series]="chartOptions2.series"
            [chart]="chartOptions2.chart"
            [plotOptions]="chartOptions2.plotOptions"
            [labels]="chartOptions2.labels"
            [legend]="chartOptions2.legend"
            [fill]="chartOptions2.fill"
            [stroke]="chartOptions2.stroke"
          ></apx-chart>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="para">Total des depense</p>
      <div class="graphe">
        <div id="chart">
          <apx-chart
            [series]="chartDepense.series"
            [chart]="chartDepense.chart"
            [plotOptions]="chartDepense.plotOptions"
            [labels]="chartDepense.labels"
            [fill]="chartDepense.fill"
            [stroke]="chartDepense.stroke"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="row" style="width: 100% !important;">
      <p class="para">Evolution des actions financières</p>
      <div class="graphe">
        <div id="chart1">
          <apx-chart
    [series]="chartOptionG.series"
    [chart]="chartOptionG.chart"
    [dataLabels]="chartOptionG.dataLabels"
    [plotOptions]="chartOptionG.plotOptions"
    [yaxis]="chartOptionG.yaxis"
    [legend]="chartOptionG.legend"
    [fill]="chartOptionG.fill"
    [stroke]="chartOptionG.stroke"
    [tooltip]="chartOptionG.tooltip"
    [xaxis]="chartOptionG.xaxis"
  ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="block2">

    <!-- <div class="titre">
      <button>Ce mois</button>
      <button>Cette semaine</button>
      <button>Aujourd'hui</button>
    </div>
     <div class="top">
      <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [plotOptions]="chartOptions.plotOptions"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
      [colors]="chartOptions.colors"
      [responsive]="chartOptions.responsive"
    ></apx-chart>



    </div> -->
  </div>
</section>
