@import '/node_modules/ngx-toastr/toastr.css';


*{
  margin: 0px;
  padding: 0px;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Josefin Sans;
  list-style: none;
}

p{
  font-size: 1.5em;
}

body{
  background-color: #F5F5F5;
  height: 100%;
}
